.git
.gitignore
README.md
k8s/
logs/
*.log
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~